:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-color: #212121;
    --secondary-color: #757575;
    --third-color:#FFFFFF;
    --fourth-color:#2196F3;
    --fifth-color: #757575;
    --sixth-color: #2F303A;
    --seventh-color: #F5F4FA;
    --eighth-color: #EEEEEE;
    --ninght-color: #ECECEC;
}
body {
    font-family: var(--main-font);
    background-color: var(--third-color);
}


/*===cleaning===*/
h1,
h2,
h3,
h4,
h5,
h5 {
    margin: 0;
    padding: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;
}
img {
    display: block;
}


.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    align-items: center;
  
}

/* 
/* .section {
    padding-top: 94px;
    padding-bottom: 94px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
} */ 


/*===HEADER===*/
.header {
    /* width: 1600px; */
    height: 80px;

}

.header .container { 
    justify-content: space-between;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    text-decoration: none;
    color:var(--main-color); 
    margin-left: 0px;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
} 
     
.studio {
    color:var(--fourth-color);
}
.navigation{
    display: flex;
   }

.navigation-list,  
.navigation-item,
.navigation-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    text-decoration: none;
    color:var(--main-color);
    
}
.navigation-list {
    list-style: none;
    display: flex;
    align-items: center;

}
.navigation-item:not(:last-child) {
        padding-right: 46px;
    }

 .contact-item {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    color: var(--secondary-color);
    text-decoration: none;
    padding-bottom: 32px;
    padding-top: 32px;
}
.contact-item:not(:last-child) {
    padding-right: 50px;
}       

 

.link {
        text-decoration: none;
    }

.navigation-link:hover,
.navigation-link:focus,
.contact-item:hover,
.contact-item:focus{
    color:var(--fourth-color)
}

/*===END HEADER===*/

/*===MAIN===*/

 /*===HERO===*/


.main-header {

    font-family: var(--main-font);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    text-transform: uppercase;
    text-align: center;


    /* or 136% */
   
    letter-spacing: 0.06em;
    text-transform: uppercase;    
    color:var(--third-color);
    padding-top: 200px; 
    width: 696px;
    margin-left: auto;
    margin-right: auto;
   
    }

.hero {
        background-color: var(--sixth-color);
        /* width: 1600px; */
        height: 600px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        /* display: flex */
        
}

.modal-btn:focus,
.modal-btn:hover {
    color: var(--secondary-color)
}
.modal-btn {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background-color: var(--fourth-color);
    box-shadow: rgba(0, 0, 0, 0.15);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    fill: solid;
    color: var(--third-color);
    cursor: pointer;

    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    margin-top: 35px;
  

    /* margin-top: 30px;
    margin-left: 700px; */
}


/*===END HERO===*/

/*===ABOUT==*/

/*.content.container {
    display:inline-block;
    justify-content: space-between;
*/
.content{
    margin:auto 
}
.content-list,
.about-list,
.team-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-bottom: 94px;
    padding: auto;

}
    
.item-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 94px;
    padding-bottom: 10px ;
}
.item-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--secondary-color)
}
.item-description:not(:last-child){
    padding-right: 30px; 
}

.container .about {
display: flex;
justify-content: center;
}


.container .team {
    display: flex;
    justify-content: center;
    }
     

.about-item {
 padding: 0px 15px;
    justify-content: center;
}
.about,
.team {
    font-weight: 700;
    Font-size: 36px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    padding-top: 94px;
    padding-bottom: 50px;
}

.name-member {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.187;
     letter-spacing: 0.03em;
     text-align: center;
     padding-top: 30px;
}
.name-description {
    font-weight: 400;
    font-size: 16px; 
    line-height: 1.187;
    letter-spacing:0.03em;
    color: var(--secondary-color);
    text-align: center;
    padding-top: 10px;
}
.team-item {
width: 270px;
height:368px;
left: 215px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
background-color: var(--third-color);
}
#team {
    background: var(--seventh-color)
}





/*===END ABOUT==*/
/*===END MAIN===*/

/*===FOOTER===*/


.footer {
    background-color: var(--sixth-color);
    color:var(--third-color);
    height: 252px;
    align-items: center;
    padding: 60px 0px;
    display:flex;
    

}

.footer-logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--third-color)

}
    
.footer-ad-info-list {
    list-style: none;
    margin-top: 20px;
    display:block;
}
.footer-address {
    font-style: normal;
    font-size: 14px;
    line-height: 1,714;
    letter-spacing: 0.03em;
    margin-bottom: 3px;
    display: block;
}
    
 
.footer-contacts{
    text-decoration: none;
    font-size: 14px;
    line-height: 1,714;
    letter-spacing: 0.03em;
    color:rgba(255, 255, 255, 0.6);
    font-style: normal;
    display: block;
    margin: 10px 0;
}

  

    
.footer-address:hover,
.footer-address:focus,
.footer-contacts:hover,
.footer-contacts:focus {
    color:var(--fourth-color)
}

/*=== END FOOTER===*/


/*===PORTFOLIO*===*/
.header{
border: 1px solid #ECECEC;
}

.filter-list{
    display:flex;
    justify-content: center;
    list-style: none;
    padding-top: 94px;

   
}
.filter-item:not(:last-child)
{
    margin-right: 8px;
}
.filter-btn {
    width: 121px;
    height: 38px;
    left: 510px;
    top: 174px;
    background: var(--seventh-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border-color:var(--seventh-color);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--main-color);
    cursor: pointer;


}
.filter-btn:hover,
.filter-btn:focus {
    color: var(--third-color);
    background: var(--fourth-color);
}
.table-list-flex {
    display: flex;
    flex-wrap:wrap; 
    list-style: none;
    margin-top: 50px;
    margin-bottom: 94px;
 

}


.card:not(:nth-child(3n)){
margin-right: auto
}
   
.card{
  
  border: 1px solid var(--eighth-color);

} 

.table-item{
    
    margin-bottom: 50px;

}
.table-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 20px;
    padding: 4px 20px 0px 24px;
}
.table-description {
    
font-size: 16px;
line-height: 1,875;
letter-spacing: 0.03em;
color: var(--secondary-color);
padding: 4px 24px 20px 24px;


}
/*=== END PORTFOLIO*===*/